.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header header"
    "forms overview"
    "footer footer";
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  padding: 0.5rem;

}

.forms {
  grid-area: forms;
  overflow: hidden;
  flex-wrap: nowrap;
  position: relative;
}

.overview {
  grid-area: overview;
}

.footer {
  grid-area: footer;
  padding: 1rem;
}

.slider {
  transform: translateX(-0vw);
  width: max-content;
  height: 100%;
  transition: transform 0.2s ease-out;
}

.slider>* {
  width: 50vw;
  border: red 2px solid;

}

.nav-buttons {
  position: absolute;
  z-index: 100;
  padding: 1.5rem;
  width: 100%;
  bottom: 0;
}

.nav-buttons>*:active {
  background-color: none;
  scale: 0.95;
}

.rounded-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.apply {
  height: 2.5rem;
  width: 5rem;
  background: none;
  border: none;
  cursor: pointer;

}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}




.bg-db {
  background-color: #4059ad;
}

.bg-lb {
  background-color: #6b9ac4;
}

.bg-green {
  background-color: #97d8c4;
}

.bg-white {
  background-color: #eff2f1;
}

.bg-yellow {
  background-color: #f4b942;
}

.fff {
  color: #fff;
}

.shadow {
  box-shadow: 0px 0px 0.3rem 0.05rem rgba(0, 0, 0, 0.2);
}

.radius {
  border-radius: 0.2rem;
}

.bold {
  font-weight: 700;
}

.font2 {
  font-size: 2em;
}

.font1 {
  font-size: 1.5em;
}

.no-dec {
  text-decoration: none;
  color: inherit;
}